<template name="agencyList">

  <div class="row">
    <div class="col-md-6">
      <h3>Agency List</h3>
      <p>Choose an agency to edit. If there are none listed, go to the "Add Agency" page and add some.</p>
      <table class="table table-bordered table-condensed">
        <thead>
          <tr>
            <td>Agency Name</td>
            <td>Continium of Care</td>
            <td>Rooms Available</td>
            <td>Action</td>
          </tr>
        </thead>
        <tbody>
          {{#each shelters}}
              <tr class="agency-row {{#if isSelectedShelter}}selected{{/if}}">
              <td>{{agencyName}}</td>
              <td>{{continiumOfCare}}</td>
              <td>
              {{#if bed}}

              {{#each bed}}
                {{#if available}}
                <p>{{type}} Room Available</p>
                {{else}}
                No Availability
                {{/if}}
              {{/each}}
              {{else}}
              No Availability
              {{/if}}
            </td>
              <td style="width: 70px">{{> quickRemoveButton collection=Collections.Shelters _id=this._id class="btn btn-sm btn-danger"}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</template>
